@charset "UTF-8";
@import "../../common/css/_common.scss";

%price-style {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-bottom: 2px dotted $orange;

  & span {
    font-size: 8vw;
  }
}

.hero {
  height: 1100px;
  padding-top: 60px;

  &__visual {
    width: 345px;
    height: 550px;
    margin: 0 auto;
    background: url(../../common/img/top/hero-img.png) no-repeat center center/cover;
  }

  &__container {
    margin: 0 40px;
    transform: translateY(-220px);
  }

  &__bubble {
    position: relative;
    width: 155px;
    height: 26px;
    margin: 0 auto;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    -webkit-text-stroke: 1px $gray;

    &::after {
      content: "";
      position: absolute;
      width: 170px;
      height: 90px;
      left: 50%;
      top: 50%;
      background: url(../../common/img/top/blur.png) no-repeat center center/cover;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }

  &__bText {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 15px;
      top: 0;
      border-bottom: 1.5px dashed;
    }
    
    &::before {
      transform: rotate(50deg);
      left: 3px;
    }

    &::after {
      transform: rotate(-50deg);
      right: 3px;
    }
  }

  // hero__content
  &__content {
    width: 295px;
    margin-bottom: 55px;
    padding: 20px ;
    background-color: $white;
    box-shadow:  $shadow;
    border-radius: 20px 30px 30px 30px;
    text-align: center;
  }

  &__icon {
    display: block;
    width: 20px;
    height: 15px;
    margin: 0 auto;
    background: url(../../common/img/top/subTtl-icon.png) no-repeat center center/contain;
  }

  small {
    color: $lightBlue;
  }

  &__ttl {
    position: relative;
    color: $blue;
    font-size: 22px;
    font-weight: 900;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 74px;
      background: url(../../common/img/top/bg-dia.png) no-repeat center center/contain;
      transform: translate(-20px, -20px);
    }

    &::after {
      transform: translate(-10px, -20px)  scale(-1, -1);
    }
  }

  &__price {
    @extend %price-style;
    margin: 15px auto 20px;
  }

  &__text {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
    overflow: hidden;
    height: 4.5em;
    line-height: 1.5em;
  }

  &__btn {
    display: flex;
    width: 235px;
    margin: 0 auto;
    padding: 15px 65px;
    align-items: center;
    gap: 10px;
    color: $white;
    background-color: $orange;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: .3s;

    .icon {
      display: inline-block;
      width: 22px;
      height: 18px;
      background: url(../../common/img/top/mail-icon.png) no-repeat center center/contain;
    }

    &:hover {
      opacity: .5;
    }
  }

  // hero menu
  .menu {
    &__item a{
      display: flex;
      padding: 15px 0 19px;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      box-shadow: $shadow;
      border-radius: 10px;
      cursor: pointer;
    }

    &__item:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &__ttl {
      color: $blue;
      font-size: 20px;
    }

    &__price {
      @extend %price-style;
    }
  }
}

.benefits {
  width: 345px;
  margin: 0 auto;
  padding-bottom: 40px;

  &__burner{
    margin-bottom: 60px;
  }

  &__container {
    padding: 30px 0 40px;
    background-color: $bg-lightBlue;
    text-align: center;
    border-radius: 10px
  }

  &__icon {
    @extend %icon-style;
  }

  &__subTtl {
    @extend %subTtl-style;
  }

  &__ttl {
    margin-bottom: 25px;
    font-size: 22px;
  }

  &__text {
    margin: 0 30px 20px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    line-height: 1.7;
  }

  &__btn {
    @extend %btn-style;
  }

  &__dotted {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &:first-of-type {
        background-color: #1698d3;
        margin-bottom: 15px;
      }

      &:nth-of-type(2) {
        background-color: $blue;
        margin-bottom: 15px;
      }

      &:last-of-type {
        background-color: $lightBlue;
      }
    }
  }
}

.cleaning {
  width: 335px;
  margin: 0 auto;
  padding-bottom: 135px;
  text-align: center;

  &__icon {
    @extend %icon-style;
  }

  &__subTtl {
    @extend %subTtl-style;
  }

  &__ttl {
    font-size: 22px;
    margin-bottom: 32px;
  }

  .hcMenu {
    &__item {
      padding-bottom: 30px;
      box-shadow: $shadow;

      &:not(:last-of-type) {
        margin-bottom: 50px;
      }
    }

    &__content {
      padding: 25px 30px 30px;
    }

    &__ttl {
      margin-bottom: 15px;
      color: $blue;
      font-size: 20px;
    }

    &__text {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.7;
      overflow: hidden;
      height: 5.1em
    }

    &__btn {
      @extend %btn-style;
    }
  }
}

.leaving {
  position: relative;
  padding: 43px 0 70px;
  background-color: $bg-lightBlue;
  text-align: center;

  &__icon {
    @extend %icon-style;
  }

  &__subTtl {
    @extend %subTtl-style;
  }

  &__ttl {
    margin-bottom: 34px;
    font-size: 22px;
  }

  .cafMenu {
    width: 335px;
    margin: 0 auto;

    &__item {
      a {
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 10px;
        box-shadow: $shadow;
        transition: .3s;
      }

      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      &:hover {
        opacity: .5;
      }
    }

    &__text {
      width: 100%;
      text-align: center;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    top: -35px;
    left: 0;
    right: 0;
    background: url(../../common/img/top/bg-wave.png) bottom center/contain;
  }
}
